# Database
POSTGRES_DB=lumen_db
POSTGRES_USER=lumen_user
POSTGRES_PASSWORD=secret_password

# Backend
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:CHANGE_ME_GENERATE_WITH_32_CHAR_STRING
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=lumen_db
DB_USERNAME=lumen_user
DB_PASSWORD=secret_password

# Frontend
VITE_API_URL=http://localhost:8081/api
